#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.border-sidebar-border {
  margin-right: 0 !important;
  padding-right: 0;
  padding-left: 5px;
}

.sidebar-menu-action {
  visibility: hidden;
}

[data-slot="sidebar-menu-item"]>.peer\/menu-button:hover~.sidebar-menu-action,
.sidebar-menu-action:hover,
.sidebar-menu-action[data-state="open"] {
  visibility: visible;
}

[data-selected="true"]>.sidebar-menu-action:not([data-state="open"]):not(:hover) {
  color: var(--color-accent);
}

@media (any-pointer: coarse) {
  .sidebar-menu-action {
    visibility: visible !important;
  }
}

.card-action {
  visibility: hidden;
}

.group:hover .card-action,
.card-action:hover,
.card-action[data-state="open"] {
  visibility: visible;
}


@media (any-pointer: coarse) {
  .card-action {
    visibility: visible !important;
  }
}

.no-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* WebKit (Chrome, Safari) */
}